@import "../../../styles/mixins.scss";

.cart {
  @include layout;
  &_items_form_wrapper {
    display: flex;
    flex-direction: column;
    @include pcS {
      flex-direction: row;
    }
  }
  &_items {
    @include pcS {
      width: 60%;
    }
  }
  &_total {
    font-size: 18px;
    @include pcS {
      font-size: rem(26);
    }
  }
  &_form {
    width: 40%;
    @include pcS {
      margin-left: rem(40);
    }
  }
}
